@page "/ventaTienda/nueva"
@page "/ventaTienda/editar/{Id:int}"
@rendermode InteractiveServer
@inject NavigationManager _navigator;
@inject IRepositorioVentaTienda _repositorio;

<h1>@_mensaje Venta</h1>
<EditForm Model="_ventaTienda" FormName="frmVentaTienda" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="row mb-3">
        <label for="txtNombreVentaCliente" class="col-2 col-form-label">Nombre del Cliente</label>
        <div>
            <InputText id="txtNombreVentaCliente" class="form-control" @bind-Value="_ventaTienda.NombreClienteVenta" />
            <ValidationMessage For="()=>_ventaTienda.NombreClienteVenta" />
        </div>
    </div>

    <div class="row mb-3">
        <label for="txtCorreoVentaCliente" class="col-2 col-form-label">Correo del Cliente</label>
        <div>
            <InputText id="txtCorreoVentaCliente" class="form-control" @bind-Value="_ventaTienda.CorreoClienteVenta" />
            <ValidationMessage For="()=>_ventaTienda.CorreoClienteVenta" />
        </div>
    </div>

    <div class="row mb-3">
        <label for="txtTelefonoVentaCliente" class="col-2 col-form-label">Telefono del Cliente</label>
        <div>
            <InputText id="txtTelefonoVentaCliente" class="form-control" @bind-Value="_ventaTienda.TelefonoClienteVenta" />
            <ValidationMessage For="()=>_ventaTienda.TelefonoClienteVenta" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <button class="btn btn-danger ms-3" @onclick="Cancelar" @onclick:preventDefault>Cancelar</button>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }
    private string _mensaje = "";
    private VentaTienda? _ventaTienda = new();

    protected override async Task OnInitializedAsync()
    {
        if (Id > 0)
        {
            _ventaTienda = await _repositorio.Get(Id);
            _mensaje = "Modificar";
        }
        else
        {
            _mensaje = "Nuevo";
        }
    }

    private async void Guardar()
    {
        if (Id > 0)
        {
            await _repositorio.Update(Id, _ventaTienda!);
        }
        else
        {
            await _repositorio.Add(_ventaTienda!);
        }
        Cancelar();
    }

    private void Cancelar()
    {
        _navigator.NavigateTo("/ventaTienda",forceLoad:true);
    }
}